# Problem Set 1
## Name: Kaylee Cho
### Date: 2023/04/05

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPClassifier

### 1.1 COMPUTING (6pts)

1) How many seconds are there in year?

In [3]:
secs = 365 * 24 * 60 * 60
print(secs)

31536000

2) How mant secs is a typical human lifetime?

In [4]:
typical_human_age = 80
lifetime_in_seconds = secs * 80
print(lifetime_in_seconds)

2522880000

3) What is your age in secs?

In [5]:
my_age = 20 * secs
print(my_age)

630720000

4) Create a logical variable that is true if you are more than 700M seconds old. Use logical operators, not if/else!

In [7]:
age = my_age > 700000000
print("Am I older than 700M seconds?")
print(age)

Am I older than 700M seconds?
False

5) Compute the following mathematical formulas:

In [2]:
result = 0.4 * (float(1) - 0.4)
result

0.24

### Lists (5pts)

1) Create a list 'movies' that contains the names of at least six movies you like

In [32]:
movies = ["Harry Potter", "Joker", "La La Land", "Avengers", "Doctor Strange", "Sound of Music"]
print(movies)

['Harry Potter', 'Joker', 'La La Land', 'Avengers', 'Doctor Strange', 'Sound of Music']

2) Using indexing and slicing, Create a list of three first movies in the list.

In [34]:
movies[0:3]

['Harry Potter', 'Joker', 'La La Land']

3) Use slicing and list concatenation to create a list of the first two and the last two movies

In [40]:
first = movies[:2]
last = movies[4:]
print(first)
print(last)

['Harry Potter', 'Joker']
['Doctor Strange', 'Sound of Music']

4) Use slicing to list the movies in the opposite order

In [42]:
movies[::-1]

['Sound of Music',
 'Doctor Strange',
 'Avengers',
 'La La Land',
 'Joker',
 'Harry Potter']

### Loops (8pts)

1) Create a list 'numbers' that is the numbers 70 through 79 in the following manner: create an empty list and add numbers to it in a loop (do not use list comprehension or 'list' function here!)

In [50]:
numbers = []
numbers.extend(range(70, 80))
print(numbers)

[70, 71, 72, 73, 74, 75, 76, 77, 78, 79]

2) Use a loop to compute the mean value of the list: add the values to their sum in a loop, and at the end divide the sum by the number of the values. (Do not use mean function!)

In [55]:
total = 0
n = 0
for i in numbers:
    total += i
    n += 1
print(total/n)

74.5

3) Use loop to compute sum of all integers from 1 till 100.

In [57]:
total = 0
for i in range(1, 101):
    total += i
print(total)

5050

4) Assign ppl to seats. Adam (33), Ashin(12), Inukai(45), Tanaka(2), and Ikki(17).

In [89]:
name = ["Adam", "Ashin", "Inukai", "Tanaka", "Ikki"]
seat = [33, 12, 45, 2, 17]
for i in range(0, 5):
    print(name[i] + ":", seat [i])

Adam: 33
Ashin: 12
Inukai: 45
Tanaka: 2
Ikki: 17

### Dicts (6pts)

#### [1]

In [16]:
# 
counts = {}
words = []
word = "I love cute dogs All dogs are cute".split()
for i in word:
    count = 0
    low = i.lower()
    counts[low] = 0     #create dictionary with 0 word count
for i in word:
    low = i.lower()
    if low not in counts:
        counts[low] = 1
    else:
        counts[low] += 1
print(counts)

{'i': 1, 'love': 1, 'cute': 2, 'dogs': 2, 'all': 1, 'are': 1}

### Functions and Data Transformations (5pts)

1) Write a function that takes in time in the numeric form of HHMM, and returns it in the numeric form of HH.HH. For instance, 1015 -> 10.25 (10 hrs 15 mins -> 10.25 hrs). Demonstrate it works using values 1015 and 345.

In [42]:
def transform(time: int):
    time = str(time)
    minute = time[-2: ]
    fraction = int(minute)/60
    hour = time[: -2]
    output = float(hour) + fraction
    return output

def main():
    print(transform(1015))
    
if __name__ == '__main__':
    main()

10.25

### Basic Data Frames (50pts)

#### Setup (4pts)

1) Load the data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPClassifier

In [4]:
nyc_flights = "nycflights13.csv"
nyc_data = pd.read_csv(nyc_flights, sep = "\t")
nyc_data

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

2) Do basic checks:

(a)

In [5]:
var = nyc_data.dtypes
print(var)

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

(b)

In [6]:
col_var = nyc_data.shape
print(col_var)

(336776, 19)

(c) Print the first few lines of data. Does it look reasonable? Yes, it does look reasonable.

nyc_data.head(5)

### Basic data explortation (9pts)

1) How many NYC airports are included in the data? Which airports are these?

In [6]:
nyc_air = []
for origin in nyc_data['origin']:
    nyc_air.append(origin)
nyc_air = list(dict.fromkeys(nyc_air))
print(nyc_air)

['EWR', 'LGA', 'JFK']

2. Into how many airports did the airlines fly from NYC in 2013?

In [11]:
arr_air = []
for dest in nyc_data['dest']:
    arr_air.append(dest)
arr_air = list(dict.fromkeys(arr_air))
print(len(arr_air))

105

3. How many flights were there from NYC to Seattle?

In [14]:
count = 0
for dest in nyc_data['dest']:
    if dest == "SEA":
        count += 1
print(count)

3923

4. Were there any flights from NYC to Spokane (GEG)?
The code doesn't print out anything. Therefore, there were no flights from NYC to Spokane.

In [19]:
for dest in nyc_data['dest']:
    if dest == "GEG":
        print("TRUE")

### Compute new variables (8pts)

1. Create new column for the flight data - flight furation in hrs. Use variable "arr time" and "dep time".

In [56]:
nyc_data['duration'] = nyc_data['arr_time'] - nyc_data['dep_time']
print(nyc_data)

        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       2013      1    1     517.0             515        2.0     830.0
1       2013      1    1     533.0             529        4.0     850.0
2       2013      1    1     542.0             540        2.0     923.0
3       2013      1    1     544.0             545       -1.0    1004.0
4       2013      1    1     554.0             600       -6.0     812.0
...      ...    ...  ...       ...             ...        ...       ...
336771  2013      9   30       NaN            1455        NaN       NaN
336772  2013      9   30       NaN            2200        NaN       NaN
336773  2013      9   30       NaN            1210        NaN       NaN
336774  2013      9   30       NaN            1159        NaN       NaN
336775  2013      9   30       NaN             840        NaN       NaN

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0                  819       11.0      UA    1545  N14228    EWR  IAH
1                  830       20.0      UA    1714  N24211    LGA  IAH
2                  850       33.0      AA    1141  N619AA    JFK  MIA
3                 1022      -18.0      B6     725  N804JB    JFK  BQN
4                  837      -25.0      DL     461  N668DN    LGA  ATL
...                ...        ...     ...     ...     ...    ...  ...
336771            1634        NaN      9E    3393     NaN    JFK  DCA
336772            2312        NaN      9E    3525     NaN    LGA  SYR
336773            1330        NaN      MQ    3461  N535MQ    LGA  BNA
336774            1344        NaN      MQ    3572  N511MQ    LGA  CLE
336775            1020        NaN      MQ    3531  N839MQ    LGA  RDU

        air_time  distance  hour  minute             time_hour  duration
0          313.0      1400     5      15  2013-01-01T10:00:00Z     313.0
1          317.0      1416     5      29  2013-01-01T10:00:00Z     317.0
2          381.0      1089     5      40  2013-01-01T10:00:00Z     381.0
3          460.0      1576     5      45  2013-01-01T10:00:00Z     460.0
4          258.0       762     6       0  2013-01-01T11:00:00Z     258.0
...          ...       ...   ...     ...                   ...       ...
336771       NaN       213    14      55  2013-09-30T18:00:00Z       NaN
336772       NaN       198    22       0  2013-10-01T02:00:00Z       NaN
336773       NaN       764    12      10  2013-09-30T16:00:00Z       NaN
336774       NaN       419    11      59  2013-09-30T15:00:00Z       NaN
336775       NaN       431     8      40  2013-09-30T12:00:00Z       NaN

[336776 rows x 20 columns]

2. What is the minimum value of the duration you computed? Explain why do you get negative values!

In [59]:
nyc_data['duration'].min()

-2346.0

> It's because if the arriving time is around 1:30 and the departure time is around 23:30, the subtracttion dep_time - arr_time would be negative value something like -22.

### 2.4 Flight delays (29pts)

1. Create a new data frame, a subset of the flights data that only contains two variables: departure delay and arrival delay.

In [65]:
delay_data = nyc_data[['dep_delay', 'arr_delay']].copy()
print(delay_data, sep = '\t')

        dep_delay  arr_delay
0             2.0       11.0
1             4.0       20.0
2             2.0       33.0
3            -1.0      -18.0
4            -6.0      -25.0
...           ...        ...
336771        NaN        NaN
336772        NaN        NaN
336773        NaN        NaN
336774        NaN        NaN
336775        NaN        NaN

[336776 rows x 2 columns]

2. Print a small random sample of the delay data frame.

In [66]:
delay_data.sample(5)

        dep_delay  arr_delay
326418       20.0        2.0
63234         3.0        2.0
288770       -1.0       14.0
291839        6.0       -8.0
72943        -5.0      -23.0

3. What is the data type of the flight delay value?

In [68]:
delay = delay_data.dtypes
print(delay)

dep_delay    float64
arr_delay    float64
dtype: object

4. Filter to keep the "slow flights": cases where the plane leaves early but arrives late. How many cases do you have?

In [92]:
# negative departure delay and positive arrival delay => "slow flights"
import numpy as np

slow_flights = (delay_data['arr_delay'] > 0) & (delay_data['dep_delay'] < 0)
slow = delay_data[slow_flights]
slow[['dep_delay', 'arr_delay']]

        dep_delay  arr_delay
5            -4.0       12.0
6            -5.0       19.0
9            -2.0        8.0
12           -2.0        7.0
14           -1.0       31.0
...           ...        ...
336585       -1.0       10.0
336586       -6.0        5.0
336588       -7.0       12.0
336646       -5.0       10.0
336758       -2.0        8.0

[35648 rows x 2 columns]

5. What is the longest "extra flight time", i.e. difference between arrival delay and departure delay?

In [95]:
# arr_delay - dep_delay => extra flight time
# make new column called "extra delay"
delay_data['extra_delay'] = delay_data['arr_delay'] - delay_data['dep_delay']
print(delay_data['extra_delay'].max())

196.0

6. How many of flights were delayed (positive arrival delay?)

In [102]:
delayed = delay_data['arr_delay'] > 0
delayed_flights = delay_data[delayed]
print(delayed_flights.count())

dep_delay      133004
arr_delay      133004
extra_delay    133004
dtype: int64

7. What percentage of flights were delayed by more than 15 mins (at arrival)? Do not use loops or the function sum.

In [111]:
arr_delays = delay_data['arr_delay'] > 15
arrival_delayed = delay_data[arr_delays]
delay_num = arrival_delayed['arr_delay'].count()
percentage = delay_num/delay_data['arr_delay'].count()
print(percentage * 100)

23.714968259884035